.question
  --question-body-height auto // @stylint ignore
  position relative
  padding-x (basePadding * 2)
  padding-bottom 0
  border 1px solid #ecf2f4
  & + &
    margin-top 1rem
  &::before
    content ''
    position absolute
    top (basePadding * 2)
    left 0
    width .25rem
    height 1rem
    background-color var(--link-color)
    border-radius 0 .125rem .125rem 0
    opacity 0
    transition opacity .4s
  &--active
    padding-bottom (basePadding * 2)
    &::before
      opacity 1
    & ^[-1]__arrow
      &::before
        opacity 1
      &::after
        opacity 0
    & ^[-1]__body
      height var(--question-body-height)
  &__header
    position relative
    padding-y (basePadding * 2)
    padding-right 5rem
    font-weight bold
    &:hover
      color var(--link-color-hover)
      cursor pointer
      & ^[-2]__arrow
        background-color var(--link-color-hover)
        &::before
        &::after
          border-color #fff
  &__arrow
    position absolute
    top (basePadding * 1.675)
    right 0
    width 2rem
    height 2rem
    border 1px solid var(--link-color)
    border-radius 1.25rem
    transition background-color .4s
    &::before
    &::after
      content ''
      position absolute
      top 50%
      left 50%
      width .75rem
      height .75rem
      border .25rem solid var(--link-color)
      border-bottom none
      border-left none
      transition opacity .4s
    &::before
      opacity 0
      transform translate(-50%,  -32.5%) rotate(-45deg)
    &::after
      transform translate(-50%,  -67.5%) rotate(135deg)
  &__body
    overflow hidden
    height 0
    padding-bottom 0
    transition height .4s, padding-bottom .4s

    img
      float left
      margin 0 1rem 0 0
