include /blocks/slider/slider

mixin sliderInfo
  +slider.slider-info&attributes(attributes)
    - info = true
    block
    - info = undefined 
  
mixin slideInfo(settings = {})
  if info
    +slide&attributes(attributes): +grid({ 'align': 'center' })
      +cell({ l: 6, xs: 12}).slider-info__text
        block
      if settings.img
        +cell({ l: 6, m: 'hidden', s: 'hidden', xs: 'hidden' }).slider-info__image
          img(src != settings.img.src alt != settings.img.alt)
