.table-wrap
  overflow-x auto
.table
  width calc(100% - 2px)
  table-layout fixed
  &__header
    padding (basePadding/3*2) basePadding
    font-size font-s
    line-height line-s
    text-align center
    vertical-align middle
    background-color #f7f9fa
  &__cell
    padding (basePadding/3*2) basePadding
    vertical-align middle
    border 1px solid #f7f9fa
    &--empty
      text-align center
      &::after
        content '—'
        font-size font-xxxl
        font-weight bold
