.pagination
  display flex
  justify-content center
  &__item
    &--prev
      margin-right basePadding
    &--next
      margin-left basePadding
    a, span
      display block
      width 2rem
      line-height 2rem
      text-align center
      text-decoration none
      border-radius 1rem
    a
      color var(--font-color)
      transition color .4s, background-color .4s
      &:hover
        color #fff
        background-color var(--link-color-hover)
        transition none
    span
      color var(--font-color-secondary)
