mixin blockMarked(settings = {})
  -
    const tag = settings.tag ? settings.tag : 'div'
    const classList = `${classes('block-marked', settings)}`
  #{tag}(class != classList)&attributes(attributes)
    block
