.footer-contacts
  &__item
    padding-left 1.5rem
    background-repeat no-repeat
    background-position left top
    background-size contain
    & + &
      margin-top 1rem
    a
      text-decoration none
      &:not(:hover)
        color var(--font-color)
    &--phone
      font-size .875rem
      font-weight bold
      background-image var(--icon-phone)
    &--mail
      background-image var(--icon-mail)
      background-position left .25rem
    &--address
      background-image var(--icon-address)
