mixin figure(item)
  figure.figure
    if item.image.href
      .figure__image: a(href != item.image.href data-fslightbox != item.image.fslightbox): +img(item.image)
    else
      .figure__image: +img(item.image)
    if item.caption
      figcaption.figure__caption: +createElement(item.caption)
