include /blocks/page-subsection/page-subsection
include /blocks/footer-menu/footer-menu

footer.footer: .container: .content
  +pageSubsection: +grid({ 'padding': 'y' })
    +cell({ l: 5, m: 6, xs: 12 }): include /blocks/footer-contacts/footer-contacts
    +cell({ l: 2, m: 6, xs: 12 })
      +footerMenu([
        { name: 'Главная страница', href: '/', active: true },
        { name: 'Лечение язв', href: '/' },
        { name: 'Лечение варикоза', href: '/' },
        { name: 'Лечение тромбозов', href: '/' },
        { name: 'Лечение лимфедемы', href: '/' },
      ])
    +cell({ l: 2, m: 6, xs: 12 })
      +footerMenu([
        { name: 'Врачи', href: '/' },
        { name: 'Отзывы', href: '/' },
        { name: 'СМИ о нас', href: '/' },
        { name: 'Контакты', href: '/' },
      ])
    +cell({ l: 2, m: 6, xs: 12 })
      +footerMenu([
        { name: 'Патенты и лицензии', href: '/' },
        { name: 'Гарантия результата', href: '/' },
        { name: 'Вопрос-ответ', href: '/' },
      ])
  +pageSubsection.footer__bottom: +grid({ 'padding': 'y' })
    +cell({ l: 5, m: 6, xs: 12 }) © 2021 Yazv.net — Санкт-Петербургский Центр флебологии и лечения сложных трофических язв. Все права защищены. 18+. Имеются противопоказания, необходима консультация специалиста.
    +cell({ l: 3, m: 6, xs: 12 }): a(href='/include/licenses_detail.php') Политика конфиденциальности
    +cell({ l: 3, m: 6, xs: 12 }): a(href='/company/sko/') Надзорные органы
