extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/review/review
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/block-icon/block-icon
include /blocks/page-header/page-header
include /blocks/doctor/doctor
include /blocks/appointment-form/appointment-form
include /blocks/properties/properties

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageHeader() Страница не найдена
  +pageSection: .container: .content
    +pageSubsection: p  Неправильно набран адрес или такой страницы не существует
    +pageSubsection: a(href='/').btn Перейти на главную
