extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/slider-info/slider-info
include /blocks/slider-works/slider-works
include /blocks/review/review
include /blocks/doctor/doctor
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/block-icon/block-icon

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection({ padding: 'top-big' }): .container: .content
    h1.home-header.text-align--center Санкт-петербургский центр флебологии и лечения сложных трофических язв
  +pageSection: .container: .content
    +sliderInfo
      +slideInfo({ img: { src: 'https://dummyimage.com/600x500', alt: 'eee' } })(style='background-image: url(/template/images/slider-bg.jpg)')
        +pageSubsection: h2: a(href='/') Андреев Дмитрий Юрьевич - автор уникальных методик заживления язв
        +pageSubsection: p Уникальные авторские методики лечения трофических язв нижних конечностей позволяют заживить любую язву независимо от ее размеров и давности существования.
        +pageSubsection: a(href='/').btn Смотреть результаты
      +slideInfo({ img: { src: 'https://dummyimage.com/600x500', alt: 'eee' } })(style='background-image: url(/template/images/slider-bg.jpg)')
        +pageSubsection: h2 Вылечиваем даже самые тяжелые случаи
        +pageSubsection: p Нами вылечено более 2000 пациентов, считавшихся безнадёжными. Большинство этих больных длительно (некоторые - в течение 35 лет) безуспешно лечились в ведущих клиниках как нашей страны, так и в зарубежных клиниках Израиля, Германии и Швейцарии.
        +pageSubsection: a(href='/').btn Смотреть результаты
      +slideInfo({ img: { src: 'https://dummyimage.com/600x500', alt: 'eee' } })(style='background-image: url(/template/images/slider-bg.jpg)')
        +pageSubsection: h2 Интервью Андреева Д.Ю. на телеканале "Санкт-Петербург"
        +pageSubsection: p Дмитрий Юрьевич Андреев ответит на самые важные вопросы по варикозному расширению вен, расскажет что такое трофические язвы и тромбофлебит.
        +pageSubsection: a(href='/').btn Смотреть видео
      +slideInfo({ img: { src: 'https://dummyimage.com/450x450', alt: 'eee' } })(style='background-image: url(/template/images/slider-bg.jpg)')
        +pageSubsection: h2 Статьи об Андрееве Д.Ю.
        +pageSubsection
          +textMarked({ tag: 'p', bigger: true, bold: true, color: 'black' }) Человек исцеляющий
          p Беда пришла неожиданно. Началось с крошечной ранки. Не помогли никакие снадобья: ранка на ноге превратилась в язву. Разрасталась...
        +pageSubsection: a(href='/').btn Читать статьи полностью
      +slideInfo({ img: { src: 'https://dummyimage.com/600x800', alt: 'eee' } })(style='background-image: url(/template/images/slider-bg.jpg)')
        +pageSubsection: h2 Авторские методики
        +pageSubsection: p За 20 лет нам удалось пройти большой путь – от получения и применения экстрактов тканей, содержащих ростовые факторы, до клеточных технологий и разработки серии оригинальных раневых покрытий с рекомбинантными факторами роста.
        +pageSubsection: a(href='/').btn Смотреть все патенты
      +slideInfo({ img: { src: 'https://dummyimage.com/600x400', alt: 'eee' } })(style='background-image: url(/template/images/slider-bg.jpg)')
        +pageSubsection: h2 Гарантия полного заживления язв
        +pageSubsection: p Мы уверены в наших силах, поэтому даем письменные гарантии на полное заживление язв в результате проведенного лечения. В противном случае клиника обязуется вернуть все деньги, потраченные на лечение.
        +pageSubsection: a(href='/').btn Читать все отзывы пациентов
      +slideInfo({ img: { src: 'https://dummyimage.com/400x500', alt: 'eee' } })(style='background-image: url(/template/images/slider-bg.jpg)')
        +pageSubsection: h2 Мы лечим заболевания вен, артерий и лимфатических сосудов любой сложности.
        +pageSubsection: a(href='/').btn Смотреть результаты
  +pageSection: .container: .content
    h2.text-align--center Забудьте об ампутации!
    +pageSubsection
      +textMarked({ tag: 'p', 'bold': true }) Нами вылечено более 2000 пациентов, считавшихся безнадежными. Большинство этих больных длительно (некоторые — в течение 35 лет) безуспешно лечились в ведущих клиниках как нашей страны, так и в зарубежных клиниках Израиля, Германии и Швейцарии. Причем все они были вылечены нами амбулаторно — ни дня постельного режима не потребовалось.
    +pageSubsection
      h3.text-align--center Примеры пациентов с трофическими язвами, вылеченными в нашей клинике (фотографии до и после лечения):
    +pageSubsection: +sliderWorks
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test.webp' type='image/webp' title='')
          img.nsfw(src='images/test.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test.webp' type='image/webp' title='')
          img.nsfw(src='images/test.jpg' title='' loading='lazy')
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-2.webp' type='image/webp' title='')
          img.nsfw(src='images/test-2.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-2.webp' type='image/webp' title='')
          img.nsfw(src='images/test-2.jpg' title='' loading='lazy')
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-3.webp' type='image/webp' title='')
          img.nsfw(src='images/test-3.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-3.webp' type='image/webp' title='')
          img.nsfw(src='images/test-3.jpg' title='' loading='lazy')
  +pageSection: .container: .content
    h2.text-align--center Отзывы пациентов
    +pageSubsection
      +grid({ 'justify': 'center' }): +cell({ l: 10, xs: 12 }): +review({
        author: 'Семья Зыковых (Валентина Ильинична)',
        date: '2 Октября 2018',
        img: 'https://yazv.net/upload/medialibrary/fb1/fb15daec6983219bb5f4364470386a56.jpg',
        detail: '/images/review.jpg',
      })
        p Андрееву Дмитрию Юрьевичу и Ястребову Павлу Анатольевичу низкий поклон и бесконечная благодарность за выздоровление ног!
        p Вы, уважаемые доктора, - волшебники.
        p Спасибо! Спасибо! Спасибо!
        p Вы настоящие Доктора!
        p С уважением,<br>
          | семья Зыковых (Валентина Ильинична)
    +pageSubsection
      +grid({ 'justify': 'center' }): +cell({ l: 4, m: 6, s: 8, xs: 12 }): a(href='/').btn.btn--wide Читать все отзывы пациентов
  +pageSection: .container: .content
    +pageSubsection
      h2.text-align--center Наши преимущества:
      -
        const advantages = [
          {
            title: 'Мы — единственные, кто гарантирует полное заживление язв',
            body: {'tag': 'p', content: 'Мы даем письменные гарантии на полное заживление язв в результате проведенного лечения. В противном случае клиника обязуется вернуть деньги, потраченные на лечение, в полном объеме.'},
          },
          {
            title: 'Наш Центр находится «на передовой» разработки новейших методов лечения сосудистых заболеваний',
            body: {'tag': 'p', content: 'Специалисты Центра постоянно принимают участие в работе и выступают с докладами на международных медицинских конференциях. Мы поддерживаем связи с ведущими европейскими клиниками, как, например, Istituto Clinico Mater Domini (Милан, Италия), U.Z. Gasthuisberg (Университетская Клиника Брюсселя, Бельгия), Lympho Opt Fachklinik (всемирно известная клиника профессора Franz-Josef Schingale по лечению лимфедемы; Hohenstadt, Германия). Наша клиника тесно сотрудничает с ведущими научными центрами Санкт-Петербурга, такими как Государственный Университет аэрокосмического приборостроения, ВНИИ Особо Чистых Биопрепаратов, кафедра термических поражений Военно-медицинской академии им. С.М.Кирова, Институт Цитологии РАН, кафедра микроэлектроники СПбГЭТУ, отдел клеточных культур ВНИИ Гриппа. Совместно с учёными данных центров были созданы и постоянно совершенствуются уникальные методики лечения трофических язв и сосудистых заболеваний, что подтверждено патентами, которые Вы можете видеть на нашем сайте.'},
          },
          {
            title: 'Уникальный комплексный подход к лечению трофических язв в нашем Центре: мы лечим не только язвы, но и заболевания, которые к ним приводят',
            body: {'tag': 'p', content: 'Мало кто знает, что диагноза «Трофическая язва» — просто не существует! Трофическая язва — это СЛЕДСТВИЕ далеко зашедших заболеваний, которых больше сотни. И лечатся они по-разному. Поэтому крайне необходимо правильно диагностировать — и вылечить! — то заболевание, которое привело к трофической язве в данном конкретном случае. Только тогда возможно надежно избавиться от трофической язвы. Так, например, вылечить язву Марторелла невозможно без нормализации артериального давления, а язвы при гангренозной пиодермии — без коррекции иммунного статуса пациента. Мы гордимся тем, что с нами активно сотрудничают ведущие ревматологи, кардиологи, онкологи, эндокринологи, травматологи, ортопеды и терапевты нашего города. За счет такого комплексного подхода нам по силам справиться практически с любой трофической язвой.'},
          },
          {
            title: 'Лечение на дому',
            body: {'tag': 'p', content: 'Только наши сотрудники проведут на дому самое современное комплексное лечение трофических язв любой сложности под гарантию результата' },
          },
          {
            title: 'Не расстаемся с пациентами, пока не удостоверимся в надежности результата',
            body: {'tag': 'p', content: 'Язва, которая не полностью закрылась, не считается вылеченной. Более того, мало заживить язву, необходимо еще добиться того, чтобы она не открылась опять. И это бывает самым сложным. Поэтому мы не выписываем пациента до тех пор, пока не убедимся, что, несмотря на прекращение лечения в Центре, язва не рецидивирует.'},
          },
          {
            title: 'Мы лечим заболевания вен, артерий и лимфатических сосудов любой сложности',
          },
        ]
      +listAdvantages(advantages)
  +pageSection: .container: .content
    +pageSubsection: h3.text-align--center Примеры пациентов с сосудистыми заболеваниями до и после лечения в нашем Центре:
    +pageSubsection: +sliderWorks
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test.webp' type='image/webp' title='')
          img.nsfw(src='images/test.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test.webp' type='image/webp' title='')
          img.nsfw(src='images/test.jpg' title='' loading='lazy')
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-2.webp' type='image/webp' title='')
          img.nsfw(src='images/test-2.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-2.webp' type='image/webp' title='')
          img.nsfw(src='images/test-2.jpg' title='' loading='lazy')
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-3.webp' type='image/webp' title='')
          img.nsfw(src='images/test-3.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-3.webp' type='image/webp' title='')
          img.nsfw(src='images/test-3.jpg' title='' loading='lazy')
  +pageSection: .container: .content
    p
      strong Санкт-петербургский центр флебологии и лечения сложных трофических язв
      |  — это специальное отделение клиники MEDALL, которое занимается лечением сосудистых заболеваний, включая варикозную болезнь ног, и лечением самых тяжелых осложнений этих заболеваний — трофических язв. Мы создали это отделение, чтобы Вам были доступны новейшие отечественные и зарубежные достижения в этой области.
    p У нас работают ведущие сосудистые хирурги, флебологи и специалисты по лечению ран Первого Санкт-Петербургского Медицинского Университета имени академика И.П. Павлова и Военно-Медицинской Академии. Нам удалось совместить их высокий профессионализм и самое современное оснащение клиники.
    p Богатый опыт специалистов и уникальное оснащение нашей клиники позволяют излечивать большинство пациентов без операций. В тех же случаях, когда оперативное вмешательство необходимо, оно проводится по принципу стационара одного дня: уже на следующий день пациент может вернуться к привычному образу жизни.
    +grid({ 'par-like': true, padding: 'y' })
      +cell({ m: 6, xs: 12 }): img(src='/images/home-photo-1.jpg' alt='')
      +cell({ m: 6, xs: 12 }): img(src='/images/home-photo-2.jpg' alt='')
  +pageSection: .container: .content
    h2.text-align--center Наши специалисты
    +grid({ padding: 'y', 'par-like': true })
      +cell({ l: 4, m: 6, xs: 12 }): +doctor({
        name: 'Андреев Дмитрий Юрьевич',
        img: 'https://dummyimage.com/400x400',
        description: 'Сосудистый хирург, флеболог, кандидат медицинских наук, член Европейского общества сосудистой хирургии. Заведующий Центром Флебологии и лечения сложных трофических язв. Автор более 60 научных работ и 7 патентов РФ. Проходил стажировку в лучших клиниках Западной Европы.',
        id: '16',
      })
      +cell({ l: 4, m: 6, xs: 12 }): +doctor({
        name: 'Ястребов Павел Анатольевич',
        img: 'https://dummyimage.com/400x400',
        description: 'Сосудистый хирург, флеболог. Автор более 10 научных работ и 3 патентов РФ.',
        id: '17',
      })
      +cell({ l: 4, m: 6, xs: 12 }): +doctor({
        name: 'Макарова Любовь Николаевна',
        img: 'https://dummyimage.com/400x400',
        description: 'Врач ультразвуковой диагностики. Ведущий специалист Первого Санкт-Петербургского Медицинского Университета имени академика И.П. Павлова по УЗИ-диагностике сосудистых заболеваний',
        id: '18',
      })

  +pageSection: .container: .content
    +pageSubsection
      +textMarked({ tag: 'p', color: 'green', 'bold': true }).text-align--center Запись на приём:
        a(href='tel:+78126604963').tel +7 (812) 660-49-63
      +textMarked({ tag: 'p', color: 'green', 'bold': true }).text-align--center Если у Вас срочный вопрос или острая боль, Вы можете связаться с доктором по телефону:
        br
        a(href='tel:+79219157495').tel 8 (921) 915-74-95
        |  Андреев Дмитрий Юрьевич
  +pageSection: .container: .content
    h2.text-align--center Статьи об Андрееве Д.Ю.
    +pageSubsection
      h3.home-header.text-align--center Человек исцеляющий
    +pageSubsection
      +grid({ 'par-like': true, 'justify': 'center' }): +cell({ m: 10, xs: 12 }): +grid({ padding: 'y' })
        +cell({ l: 6, m: 6, xs: 12 })
          h4.home-header.text-align--center Испытание
          p Беда пришла неожиданно. Началось с крошечной ранки. Не помогли никакие снадобья: ранка на ноге превратилась в язву. Разрасталась...
          p И у Алексея, атлетически сложенного молодого человека, выпускника престижного ленинградского ВУЗа, перспективного специалиста, началась новая жизнь...
          p — Боль была изматывающей, не прекращающейся, — рассказывает он. — Бессонные ночи. Издёрганные члены семьи. Сколько было съедено анальгина, пенталгина?.. Сколько было выпито водки — чтобы забыться, заснуть, хотя бы на полтора-два часа.
        +cell({ l: 6, m: 6, xs: 12 })
          +img({
            name: 'andreev',
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'jpg', mime: 'image/jpeg', orig: true },
            ],
            density: [ 2, 3 ],
            path: '/images/',
          })
    +pageSubsection: +textMarked({ tag: 'p', bold: true, big: true }).text-align--center: a(href='/') Читать статьи полностью
  +pageSection: .container: .content
    h2.text-align--center Важные события и известные люди
    +pageSubsection
      p.text-align--center: picture
        source(srcset=rootPath + '/upload/img_optim/vrach_111.webp' type='image/webp')
        img.content-new__image(loading='lazy' decoding='async' src=rootPath + '/upload/img_optim/vrach_111.jpg' width='705' height='809')
      p Протоиерею Красного Села отцу Евгению, который мучился со своей трофической язвой шесть лет, про доктора Андреева рассказала прихожанка. Но встреча с хирургом не обрадовала священнослужителя: «Некрещеный? Мне и настоящие, крещеные доктора не смогли помочь...», – молвил он разочарованно. «А я смогу», – пообещал Дмитрий Андреев. Обещание выполнил. Через полтора месяца язвы у священника не стало.
    +pageSubsection
      p.text-align--center: picture
        source(srcset=rootPath + '/upload/test1/123.webp' type='image/webp')
        img.content-new__image(loading='lazy' decoding='async' src=rootPath + '/upload/test1/123.jpg' width='1024' height='708')
      p Обсуждение последних достижений в лечении тяжелой лимфедемы («слоновости») с профессором Шингале, ведущим лимфологом Европы, в его клинике Lympho Opt в Германии.
    +pageSubsection
      p.text-align--center: picture
        source(srcset=rootPath + '/upload/main_mozaika/vrach_02.webp' type='image/webp')
        img.content-new__image(loading='lazy' decoding='async' src=rootPath + '/upload/main_mozaika/vrach_02.jpg' width='1002' height='1024')
      p В кулуарах Римского международного конгресса флебологов и лимфологов (2013 год) интересными друг другу собеседниками стали Дмитрий Андреев и Хуго Патч, австрийский профессор, ведущий специалист Европы по лечению язв.
    +pageSubsection
      p.text-align--center: picture
        source(srcset=rootPath + '/upload/main_mozaika/vrach_03.webp' type='image/webp')
        img.content-new__image(loading='lazy' decoding='async' src=rootPath + '/upload/main_mozaika/vrach_03.jpg' width='768' height='1024')
      p Д. Андреев с ведущим флебологом Франции, сосудистым хирургом, профессором Jean-François UHL. Представители разных стран, но – одной профессии. Темы для обсуждения – общие.
    +pageSubsection
      p.text-align--center: picture
        source(srcset=rootPath + '/upload/main_mozaika/vrach_04.webp' type='image/webp')
        img.content-new__image(loading='lazy' decoding='async' src=rootPath + '/upload/main_mozaika/vrach_04.jpg' width='1024' height='634')
      p Дмитрий Андреев с профессором, директором Таиландского Центра по лечению лимфедемы Вичаем Экатаксином и его ассистентом. Снимок сделан на 23-м Международном конгрессе по лимфологии, проходившем в Швеции. Своим общением коллеги, как видим, довольны.
    +pageSubsection
      p.text-align--center: picture
        source(srcset=rootPath + '/upload/main_mozaika/vrach_05.webp' type='image/webp')
        img.content-new__image(loading='lazy' decoding='async' src=rootPath + '/upload/main_mozaika/vrach_05.jpg' width='1024' height='576')
      p Принцип «взаимодействия на стыке наук» Андреев вынес и за пределы медицины. В результате такого взаимодействия с учеными Санкт-Петербургского Государственного Университета аэрокосмического приборостроения созданы приборы и устройства, позволяющие ускорить заживление язв. На снимке – Андреев Д.Ю. с заведующим Лабораторией биотехнических систем, кандидатом технических наук Вячеславом Александровичем Килимником и его аспирантом, автором блестящих технических находок, Олегом Владимировичем Горским.
    +pageSubsection
      p.text-align--center: picture
        source(srcset=rootPath + '/upload/medialibrary/a2e/a2e2b4b8b4dd8c5e6653d443b8d3183c.webp' type='image/webp')
        img.content-new__image(loading='lazy' decoding='async' src=rootPath + '/upload/medialibrary/a2e/a2e2b4b8b4dd8c5e6653d443b8d3183c.jpg' width='1024' height='575')
      p В конце 2015 года под эгидой Комитета по здравоохранению Законодательного собрания Санкт-Петербурга прошла научно-практическая конференция, посвященная лечению трофических язв. Ведущие флебологи, лимфологи и сосудистые хирурги города с большим интересом выслушали доклад Д. Андреева «Новые технологии и подходы к лечению сложных трофических язв».
    +pageSubsection
      p.text-align--center: picture
        source(srcset=rootPath + '/upload/img_optim/vrach_07.webp' type='image/webp')
        img.content-new__image(loading='lazy' decoding='async' src=rootPath + '/upload/img_optim/vrach_07.jpg' width='800' height='1044')
      p Дмитрий Андреев со своей пациенткой – практикующим специалистом по позитивной психологии, Мастером Фэш-шуй с мировым именем Правдиной Натальей Борисовной. На сайте клиники есть её отзыв.
    +pageSubsection
      p.text-align--center: picture
        source(srcset=rootPath + '/upload/img_optim/69d08893c965c75060a0f49d052a3bfd.webp' type='image/webp')
        img.content-new__image(loading='lazy' decoding='async' src=rootPath + '/upload/img_optim/69d08893c965c75060a0f49d052a3bfd.png' width='600' height='366')
      p Андреев Д.Ю. выступает перед профессорско-преподавательским составом Первого Санкт-Петербургского Медицинского Университета с докладом о разработанных в нашем Центре новых методах лечения сосудистых заболеваний и их осложнений.
    +pageSubsection
      p.text-align--center: picture
        source(srcset=rootPath + '/upload/img_optim/c265af6d0a060cbab82fb60b102df05b.webp' type='image/webp')
        img.content-new__image(loading='lazy' decoding='async' src=rootPath + '/upload/img_optim/c265af6d0a060cbab82fb60b102df05b.png' width='600' height='374')
      p Ястребов Павел Анатольевич делает доклад в Первом Санкт-Петербургском Медицинском Университете на тему: «Этиопатогенез и клинические особенности гидростатических язв нижних конечностей».
  +pageSection: .container: .content
    h2.text-align--center Патенты, полученные докторами Центра флебологии и лечения сложных трофических язв
    +pageSubsection
      p За прошедшие 20 лет нам удалось пройти большой путь — от создания и применения экстрактов тканей, содержащих ростовые факторы, до клеточных технологий и создания серии оригинальных раневых покрытий с рекомбинантными факторами роста. На фотографиях вы можете видеть патенты, полученные нами на эти разработки.
      +grid({ 'par-like': true, padding: 'y' })
        -
          hrefs = [
            rootPath + '/upload/iblock/85e/85ef8ae39a3b9a983897a656989115f3.jpg',
            rootPath + '/upload/iblock/7cc/7ccb5b075dd4bb5a5c84531b7913417f.jpg',
            rootPath + '/upload/iblock/9e4/9e40e7b0083e9cf42c6ca79789cc959b.jpg',
            rootPath + '/upload/iblock/90f/90f5f69fd56e5698401b980f2611c892.jpg',
            rootPath + '/upload/iblock/9c9/9c95b19a3b03e8c6957353704b52483f.jpg',
            rootPath + '/upload/iblock/c02/c02edd9971a0f50c1c34754707a33089.jpg',
            rootPath + '/upload/iblock/dd7/dd74678b7e1dd1aeac2bde698d7b83b4.jpeg',
          ]
        each i in [1, 2, 3, 4, 5, 6, 7]
          +cell({ l: 3, m: 4, xs: 6 }): a(href != hrefs[i - 1] data-fslightbox='patent').gallery-item
            +img({
              name: `patent-${i}`,
              path: '/images/patent/',
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', mime: 'image/jpeg', orig: true },
              ],
              density: [ 2 ]
            })
    +pageSubsection: +textMarked({ tag: 'p', bold: true, big: true }).text-align--center: a(href='/company/licenses/') Смотреть все патенты
  +pageSection: .container: .content
    h2.text-align--center Интервью Андреева Д.Ю.
    +pageSubsection
      h3.text-align--center На телеканале «Санкт-Петербург»
      +grid({ 'par-like': true, 'justify': 'center' }): + cell({ l: 8, m: 10, xs: 12})
        +youtubeResponsive('dUjDW9z8cKk')
    +pageSubsection
      h3.text-align--center На телеканале «ВОТ»
      +grid({ 'par-like': true, 'justify': 'center' }): + cell({ l: 8, m: 10, xs: 12})
        +youtubeResponsive('TcxDgUytJVE')
    +pageSubsection
      h3.text-align--center В прямом эфире Радио Мария
      +grid({ 'par-like': true, 'justify': 'center' }): + cell({ l: 8, m: 10, xs: 12})
        +youtubeResponsive('5QJl6a6r2II')
  +pageSection: .container: .content
    h2.text-align--center Гарантия полного заживления язв
    +pageSubsection
      p Мы уверены в своих силах, поэтому даем письменные гарантии на полное заживление язв в результате проведенного лечения. В противном случае клиника обязуется вернуть деньги, потраченные на лечение, в полном объёме.
      p Большинство пациентов, вылеченных в нашей клинике, длительно (некоторые — в течение 35 лет) безуспешно лечились в ведущих клиниках как нашей страны, так и в зарубежных клиниках Израиля, Германии и Швейцарии. Интересно, что все они впоследствии были вылечены нами амбулаторно — ни дня постельного режима не потребовалось.
      +textMarked({ tag: 'p',  color: 'green' , bold: true, big: true }).text-align--center Санкт-Петербургский центр флебологии и лечения сложных трофических язв — качество выше цен!
    +pageSubsection
      +grid({ 'padding': 'y' })
        +cell({ l: 3, m: 6, xs: 12 }): +blockIcon({ title: 'Вылечиваем даже самые тяжёлые случаи' }, { 'advantages': 1 })
          p Эффективное лечение трофических язв и сосудистых заболеваний нижних конечностей любой степени сложности
        +cell({ l: 3, m: 6, xs: 12 }): +blockIcon({ title: 'Гарантия полного заживления язв' }, { 'advantages': 2 })
          p Даем <strong>письменные гарантии</strong> на полное заживление язв в результате проведенного лечения. В противном случае клиника обязуется вернуть деньги, потраченные на лечение, в полном объеме.
        +cell({ l: 3, m: 6, xs: 12 }): +blockIcon({ title: 'Вылечили более 2000 пациентов' }, { 'advantages': 3 })
          p Вылечено более 2000 пациентов с тяжелыми трофическими язвами различного генеза.
        +cell({ l: 3, m: 6, xs: 12 }): +blockIcon({ title: 'Двадцатилетний опыт' }, { 'advantages': 4 })
          p Более 20 лет успешного опыта лечения язв нижних конечностей
    +pageSubsection
      +textMarked({ tag: 'p', color: 'green', 'bold': true }).text-align--center Запись на приём: 
        a(href='tel:+78126604963').tel +7 (812) 660-49-63
      +textMarked({ tag: 'p', color: 'green', 'bold': true }).text-align--center Если у Вас срочный вопрос или острая боль, Вы можете связаться с доктором по телефону:
        br
        a(href='tel:+79219157495').tel 8 (921) 915-74-95
        |  Андреев Дмитрий Юрьевич
      +textMarked({ tag: 'p', bold: true, big: true }).text-align--center Адрес клиники MEDALL: Санкт-Петербург, Петроградский район, Левашовский пр. 24
  +pageSection: .container: .content
    p: img(src='https://dummyimage.com/2624x1004&text=Карта+будет+вставлена+через+компонент+битрикса')
