extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/review/review
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/block-icon/block-icon
include /blocks/page-header/page-header
include /blocks/table/table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageHeader({ parents: [ 'Главная' ], current: 'Отзывы' }) Отзывы
  +pageSection(): .container: .content
    +pageSubsection
      p Большинство пациентов, вылеченных в нашей клинике, длительно (некоторые – в течение 35 лет) безуспешно лечились в ведущих клиниках как нашей страны, так и в зарубежных клиниках Израиля, Германии и Швейцарии. Интересно, что все они впоследствии были вылечены нами амбулаторно – ни дня постельного режима не потребовалось.
    +pageSubsection
      +review({ date: '3 Мая 2020', author: 'Коновалов Ю.В.' })
        a.fancybox(href='/images/review.jpg' target='_blank'): img.fancybox(width='210' src='/images/review-small.jpg' height='306' align='right')
        p Выражаю исключительную, безграничную благодарность доктору Андрееву Д.Ю., его коллеге Ястребову П.А., сестринскому коллективу и всему отделению флебологии образцовой клиники МЕДАЛЛ!
        p После операции на сердце в Алмазовском Центре у меня случился отек ноги, из-за чего на ней разошелся послеоперационный шов. Над моей раной сначала работали алмазовские хирурги, затем другие – тоже внимательные и сочувствующие мне, но так и не улучшившие мое положение хирурги сначала из реабилитационного центра, а потом из больницы Костюшко. Прогресса фактически не было. Как и тогда, когда я обратился, после выписки, в районную и платную поликлиники. Рана начала угрожающе гноиться.
        p В этом безнадежном положении мне необычно повезло оказаться в отделении флебологии клиники МЕДАЛЛ. Доктор Андреев и его ученик и коллега доктор Ястребов сразу назвали мне совершенно неожиданный срок лечения – два месяца! Вместо целого года, что – и то с неуверенностью – называли в других медучреждениях.
        p За два месяца искусных, тщательнейших перевязок с применением мазей и других лечебных средств, после недолгого и незатруднительного ношения на ноге вакуумного прибора и, наконец, безболезненной пересадки кожи, моя страшная и никому не поддававшаяся рана абсолютно затянулась!
        p Чрезвычайно благодарен Дмитрию Юрьевичу Андрееву, которого имею все основания считать врачом глубочайших знаний, сверхпрофессионалом-практиком, спасителем, гением флебологии и сосудистой хирургии и даже волшебником.
      +review({ date: '21 Апреля 2020', author: 'Лобойко О.В.' })
        a.fancybox(href='/images/review.jpg' target='_blank'): img.fancybox(width='210' src='/images/review-small.jpg' height='308' align='right')
        p Выражаю огромную благодарность Андрееву Дмитрию Юрьевичу за успешное лечение трофической язвы!
        p Три года меня не могли вылечить в государственных медучреждениях г. Волгограда, не могли установить правильный диагноз. Ситуация уже была безвыходной, назначения врачей не были эффективными, язва разрасталась… Меня лечили трипсином, бетадином, вазапростаном, сорбалгоном, диоксидином, и др. препаратами. К примеру, назначения трипсина напоминали средневековые пытки, как будто в рану насыпали красный перец и уксус одновременно; рана начинала кровоточить, мне говорили, что надо терпеть…  После того, как мне предложили сделать пересадку кожи, а, в случае неудачи, ампутацию, я поняла, что в нашем регионе нет специалистов, которые способны меня вылечить.
        p По отзывам в интернете нашла врача Андреева Дмитрия Юрьевича, созвонилась с ним и решила ехать лечиться. Рана на тот момент была очень глубокая и разрослась вокруг голени, боли были очень сильные, каждые 6 часов принимала трамадол с обезболивающими.
        p С 4 февраля этого года началось лечение у Дмитрия Юрьевича, после первой же перевязки боль стала отступать, вскоре я совсем перестала принимать обезболивающие.
        p Лечение проходило по самым новейшим методикам с применением высокотехнологичных материалов. Уже 10 марта мне сделали пересадку кожи, и сейчас уже новая кожа прижилась, и все хорошо.
        p Я очень рада, что из множества медучреждений Санкт-Петербурга и Москвы я нашла ту единственную клинику, где умеют лечить трофические язвы. Мне есть с чем сравнить, поэтому я ценю еще больше то, что мне повезло и я лечилась именно здесь. Спасибо огромное за профессиональный подход, за безболезненное лечение Дмитрию Юрьевичу!
        p Так же, большую благодарность хочу выразить Ястребову Павлу Анатольевичу и медицинским сестрам Зое и Екатерине!
        p Дай Бог вам и вашим близким крепкого здоровья и счастья за ваши добрые сердца!!!
  +pageSection(): .container: .content
    include /blocks/pagination/pagination
