extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/review/review
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/block-icon/block-icon
include /blocks/page-header/page-header
include /blocks/table/table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageHeader({ parents: [ 'Главная' ], current: 'СМИ о нас' }) СМИ о нас
  +pageSection(): .container: .content
    +textMarked({ tag: 'p', color: 'green', bold: true}).text-align--center
      a(href='#111') Медицинская газета
      |  |
      a(href='#222') Профилактика. Здоровье. Красота
      |  |
      a(href='#333') Литературная газета
      |  |
      a(href='#444') Измайловская слобода
      |  |
      a(href='#555') Комсомольская правда
      |  |
      a(href='#666') Контакт Информ
  +pageSection(): .container: .content
    +pageSubsection#111.text-align--center
      picture
        source(srcset= rootPath + '/upload/img_optim/MedGazeta.webp' type='image/webp')
        img(width='2600' src= rootPath + '/upload/img_optim/MedGazeta.jpg' height='3427' title='MedGazeta.jpg')
    +pageSubsection#222.text-align--center
      p: picture
        source(srcset= rootPath + '/upload/smi/new/33333333.webp' type='image/webp')
        img.img-responsive(width='1920' src= rootPath + '/upload/smi/new/33333333.jpg' height='2712')
      p: picture
        source(srcset= rootPath + '/upload/img_optim/444444444.webp' type='image/webp')
        img.img-responsive(width='1920' src= rootPath + '/upload/img_optim/444444444.jpg' height='2586')
    +pageSubsection.text-align--center: a(href='http://yazv.net/smi-o-nas/profilaktika-zdorove-krasota.php') Читать статьи полностью
    +pageSubsection#333.text-align--center
      picture
        source(srcset= rootPath + '/upload/img_optim/IMG_3595.webp' type='image/webp')
        img.img-responsive(width='2600' alt='0IMG_3595.jpg' src= rootPath + '/upload/img_optim/IMG_3595.jpg' height='685')
    +pageSubsection.text-align--center
      picture
        source(srcset= rootPath + '/upload/img_optim/lITERATURNAYAGAZETA.webp' type='image/webp')
        img.img-responsive(width='1920' src= rootPath + '/upload/img_optim/lITERATURNAYAGAZETA.jpg' height='1791')
    +pageSubsection#444.text-align--center
      picture
        source(srcset= rootPath + '/upload/img_optim/IMG_5996.webp' type='image/webp')
        img.img-responsive(width='2600' src= rootPath + '/upload/img_optim/IMG_5996.jpg' height='805')
    +pageSubsection.text-align--center
      picture
        source(srcset= rootPath + '/upload/img_optim/IMG_3605.webp' type='image/webp')
        img.img-responsive(width='2600' src= rootPath + '/upload/img_optim/IMG_3605.jpg' height='2972')
    +pageSubsection#555.text-align--center
      picture
        source(srcset= rootPath + '/upload/img_optim/IMG_0465.webp' type='image/webp')
        img.img-responsive(width='1920' src= rootPath + '/upload/img_optim/IMG_0465.jpg' height='981')
    +pageSubsection.text-align--center
      picture
        source(srcset= rootPath + '/upload/img_optim/IMG_2420.webp' type='image/webp')
        img.img-responsive(width='1920' src= rootPath + '/upload/img_optim/IMG_2420.jpg' height='1978')
    +pageSubsection#666.text-align--center
      picture
        source(srcset= rootPath + '/upload/img_optim/IMG_5959.webp' type='image/webp')
        img.img-responsive(width='1920' src= rootPath + '/upload/img_optim/IMG_5959.jpg' height='954')
    +pageSubsection.text-align--center
      picture
        source(srcset= rootPath + '/upload/img_optim/IMG_2423.webp' type='image/webp')
        img.img-responsive(width='1920' src= rootPath + '/upload/img_optim/IMG_2423.jpg' height='3626')
