.before-after
  parMargin()
  position relative
  &::before
    content ''
    position absolute
    top 50%
    left 50%
    width 80px
    height 80px
    background-image svgImport('svg/arrow.svg')
    background-repeat no-repeat
    background-position center
    background-size contain
    transform translate(-50%, -50%)
    @media (max-width point-m - 1)
      transform translate(-50%, -50%) rotate(90deg)
  img
    display block
