.page-section
  display flex
  overflow hidden
  flex-direction column
  align-items stretch
  & + &
    margin-top (basePadding*4)
  & + &--margin-small
    margin-top (basePadding * 2)
  h1 + &
    margin-top 1rem
  &--padding-y
    padding-y (basePadding*2)
  &--padding-y-big
    padding-y (basePadding*4)
  &--padding-top
    padding-top (basePadding*2)
  &--padding-top-big
    padding-top (basePadding*4)
  &--color-gray
    background-color #f7f9fa
  main > &
    &:last-child
      margin-bottom (basePadding * 4)
    &--no-margin:last-child
      margin-bottom 0
    &--no-margin-bottom:last-child
      margin-bottom 0
