.list-advantages
  parMargin()
  &__item
    & + &
      margin-top 2rem
  &__title
    font-size font-xl
    font-weight bold
    line-height 1.5
    color #00a650
    &::before
      content '✓'
      margin-right 1rem
  &__body
    margin-top .5rem
