mixin blockIcon(item = {}, settings = {})
  -
    const classList = classes('block-icon', settings)
    const tag = settings.tag || 'div'
  #{tag}(class != classList)&attributes(attributes)
    .block-icon__title !{item.title}
    if block
      .block-icon__body: block
