include /blocks/menu/menu
include /blocks/appointment-form/appointment-form

header.header
  .header__info.container: .content
    +grid({ 'padding': 'y', 'align': 'center' })
      +cell({ l: 4, m: 12, xs: 'hidden' }).header__search: include /blocks/header-search/header-search
      +cell({ hd: 'hidden', xl: 'hidden', l: 'hidden', m: 'hidden', s: 'hidden', xs: 2 }).header__switcher: include /blocks/header-mobile-switcher/header-mobile-switcher
      +cell({ l: 3, m: 6, xs: 8 })
        .header__logo: a(href='/')
        .header__phone.hidden-hd.hidden-xl.hidden-l
          a(href='tel:+78126604963') +7 (812) 660-49-63
      +cell({ l: 5, m: 6, xs: 'hidden' }): .header__contact
        .header__phone Запись на приём:
          a(href='tel:+78126604963') +7 (812) 660-49-63
        .header__button: +appointmentButton Запись онлайн
      +cell({ hd: 'hidden', xl: 'hidden', l: 'hidden', m: 'hidden', s: 'hidden', xs: 2 }).header__search: a(href='/')
  .header__navigation.container: .content: include /blocks/header-navigation/header-navigation
