.header
  @media (max-width point-l - 1)
    position fixed
    top 0
    right 0
    left 0
    z-index 1000
    background-color #fff
    box-shadow 0 1px 1px rgba(#ccc, .5)
  &__top
    background-color #f7f9fa
    & .menu
      padding-y (basePadding / 5 * 4)
      font-size font-xs
      &__list
        display flex
        margin-x -(basePadding)
      &__list-item
        padding-x basePadding
        & a
          text-decoration none
          color var(--link-secondary-color)
        a:hover
          color var(--link-secondary-color-hover)
        &--active a
          color var(--link-color)
        &--active a:hover
          color var(--link-color-hover)
  &__info
    padding-y basePadding
  &__logo
    display flex
    justify-content center
    & a
      display block
      width 10.375rem
      height 3.5rem
      margin-y auto
      background-image url(../images/logo.png)
      background-repeat no-repeat
      background-position center
      background-size contain
  &__contact
    display flex
    justify-content flex-end
    align-items center
  &__phone
    position relative
    margin-right (basePadding * 2)
    padding-left 1.5rem
    font-size font-s
    font-weight bold
    line-height 1.25rem
    color #222
    @media (min-width point-l)
      background-image var(--icon-phone)
      background-repeat no-repeat
      background-position left center
      background-size contain
    @media (max-width point-l - 1)
      &::before
        content ''
        display inline-block
        width font-s
        height font-s
        margin-right .25rem
        margin-bottom -((1.25rem - font-s) / 4)
        margin-left -(font-s + .25rem)
        background-image var(--icon-phone)
        background-repeat no-repeat
        background-position center
        background-size contain
    @media (max-width point-l - 1)
      margin-right 0
      text-align center

    a
      white-space nowrap
      text-decoration none
      color #222
  &__button
    .btn
      padding (basePadding/3*2) basePadding
      font-size font-xs
  &__navigation
    background-color var(--link-color)
    transition background-color .4s
    &--fixed
      position fixed
      top 0
      right 0
      left 0
      z-index 1000
      background-color #fff
      box-shadow 0 1px 1px rgba(#ccc, .5)
  &__search a
    display block
    width 100%
    height 3rem
    background-image var(--icon-zoom)
    background-repeat no-repeat
    background-position center
    @media (max-width point-l - 1)
      background-size 1.5rem
