.header-search
  position relative
  display flex
  overflow hidden
  &__input
    width 100%
    padding .5rem (basePadding / 4 * 5) .5rem (basePadding / 4 * 5)
    font-size font-xs
    background-color #f2f4f5
    border 1px solid #f2f4f5
    border-right none
    border-radius (basePadding * 2) 0 0 (basePadding * 2)
    &:focus
      border-color #ccc
      outline none
      & + ^[-2]__submit
        border-color #ccc
  &__submit
    position relative
    width 2.25rem
    padding 0
    background-color #f2f4f5
    border 1px solid #f2f4f5
    border-left none
    border-radius 0 (basePadding * 2) (basePadding * 2) 0
    &::before
      content ''
      position absolute
      top 50%
      left .125rem
      width 1rem
      height 1rem
      background-image var(--icon-zoom)
      background-repeat no-repeat
      background-position center
      background-size 1rem
      opacity .5
      transform translateY(-50%)
      transition opacity .4s
    &:hover
      &::before
        opacity .75
        transition opacity .1s
