include /blocks/menu/menu

-
  const mainMenu = [
    { name: 'Наш центр', href: 'index.html' , active: true, sublist: [
        { name: 'Врачи', href: 'staff.html', active: true },
        { name: 'Патенты и лицензии', href: 'licenses.html' },
        { name: 'Гарантия результата', href: 'garantiya-rezultata.html' },
        { name: 'Вопрос ответ', href: 'faq.html' },
        { name: 'Контакты', href: 'contacts.html' },
      ]},
    { name: 'Лечение язв', href: 'lechenie-yazv.html' },
    { name: 'Лечение варикоза', href: 'lechenie-varikoza.html' },
    { name: 'Лечение тромбозов', href: 'lechenie-trombov.html' },
    { name: 'Лечение лимфедемы', href: 'lechenie-limfedem.html' },
    { name: 'Отзывы', href: 'reviews.html' },
    { name: 'СМИ о нас', href: 'smi-o-nas.html' },
  ]

+menu(mainMenu).header-navigation
